<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpy.mapper.SysDictParamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wpy.entity.SysDictParam">
        <id column="id" property="id" />
        <result column="sys_dict_id" property="sysDictId" />
        <result column="param_key" property="paramKey" />
        <result column="param_value" property="paramValue" />
        <result column="order_num" property="orderNum" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sys_dict_id, param_key, param_value, order_num, update_by, update_time, remarks
    </sql>

</mapper>
